@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Alexandria', sans-serif;
}

.home .banner {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.home .navbar {
  width: 85%;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .logo {
  width: 120px;
  cursor: pointer;
}

.home .menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

.home .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.home .navbar ul li a {
  text-decoration: none;
  color: #3a3a3a;
}

.home .navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #32cfff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.home .navbar ul li:hover::after {
  width: 100%;
}

.home .content {
  display: flex;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: left;
  color: #3a3a3a;
}

.home .col-1 {
  flex-basis: 100%;
  position: relative;
  padding: 20px;
  margin-left: 80px;
}

.home .col-1 h1 {
  font-size: 60px;
  line-height: 95%;
  margin-top: 80px;
  font-family: 'Alexandria', sans-serif;
  background: -webkit-linear-gradient(45deg, #3a3a3a, #6d6d6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .col-1 p {
  margin: 10px auto;
  line-height: 25px;
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.home button {
  width: 135px;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid #32cfff;
  background: transparent;
  color: #eee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.home span {
  background: #32cfff;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}

.home button a {
  text-decoration: none;
  color: #eee;
  transition: 0.3s;
}

.home button:hover span {
  width: 100%;
}

.home button:hover {
  border: 2px solid transparent;
  transition: 0.5s;
}

.home button a:hover {
  color: #3a3a3a;
}

.home #popup {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 50px;
  box-shadow: 0 3px 30px #00000038;
  background: #eeeeee54;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.home .popup-close img {
  width: 25px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.home #popup h1 {
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

.home #popup.active {
  opacity: 1;
  visibility: visible;
}

.home #popupH {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 50px;
  box-shadow: 0 3px 30px #00000038;
  background: #eeeeee54;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.home .popup-close2 img {
  width: 25px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

.home #popupH h1 {
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

.home #popupH.active {
  opacity: 1;
  visibility: visible;
}

/*----------------- HOME RESPONSIVE ---------------------*/

@media only screen and (min-width:710px) {
  .home .col-1 h1 {
    width: 80%;
  }
}

@media only screen and (max-width:700px) {
  .home .banner {
    background-position: left;
  }

  .home .navbar ul {
    width: 100%;
    background: rgba(0, 0, 0, 0.185);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  .home .navbar ul li {
    text-align: right;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home .navbar ul li a {
    color: #fff;
  }
  
  .home .menu-icon {
    display: block;
    transition: 0.3s;
  }

  .home .menu-icon:active {
    transform: rotate(180deg);
  }

  .home #menuList {
    overflow: hidden;
    transition: 0.3s;
  }

  .home .content {
    flex-direction: column-reverse;
    margin: -20px 0;
    margin-left: -60px;
  }
  
  .home .col-1 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .home .col-1 h1 {
    width: 100%;
    font-size: 35px;
  }

  .home .col-1 p {
    font-size: 11px;
  }

  .home button {
    width: 100px;
    padding: 7px;
    font-size: 11px;
    margin: 15px 0;
  }

  .home #popup {
    width: 80px;
    top: 45%;
    left: 53%;
    padding: 40px 50px;
  }

  .home #popup h1 {
    font-size: 20px;
  }

  .home #popupH {
    width: 130px;
    top: 45%;
    left: 53%;
    padding: 40px 50px;
  }

  .home #popupH h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .home .content {
    margin-left: -70px;
  }
  
  .home .col-1 h1 {
    font-size: 30px;
  }
}

/*----------------- ABOUT -----------------*/

.about {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.about .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about .content {
  backdrop-filter: blur(4px);
  background-color: #0000001f;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.about .content .icon {
  display: flex;
  justify-content: center;
}

.about .content .icon img {
  position: absolute;
  top: -50px;
  width: 100px;
  border: 3px solid #0000001f;
  border-radius: 50px;
}

.about .content p {
  margin-top: 50px;
  line-height: 25px;
  color: white;
}

.about .content p span {
  color: #5599ff;
}

.about .content #icon-song {
  width: 50px;
  margin: 15px 0 0;
  cursor: pointer;
}

.about .content a {
  text-decoration: none;
  color: white;
}

.about .content a:hover {
  color: #3a3a3a;
}

.about .btn-back-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about .btn-back-group .btn-back {
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 10px 20px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  transition: 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.about .btn-back-group .btn-back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001f;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
  z-index: -1;
}

.about .btn-back-group .btn-back:hover::before {
  transform: scaleX(1);
}

.about .btn-back:hover {
  color: white;
  border: 1px solid white;
}

/* --------------- ABOUT RESPONSIVE --------------- */

@media only screen and (max-width:620px) {
  .about .content {
    width: 70%;
  }

  .about .content .icon img {
    width: 80px;
    top: -40px;
  }

  .about .content p {
    font-size: 0.9rem;
  }
}

/* @media only screen and (max-width:440px) {
  .about .content {
  }
} */


/* ------------ BLOG CSS ------------ */

.blog {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3a3a3a;
  overflow: hidden;
}

.blog .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  height: 100vh;
  color: white;
}

.blog .content .flex-card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 70vh;
  background-color: #0000001f;
  border-radius: 10px;
  padding: 0 40px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease;
  animation: flex-card 0.7s ease-in-out forwards;
  opacity: 0;
  transform: translateY(200px);
}

.blog .content .flex-card.card-1 {
  animation-delay: 0s;
}

.blog .content .flex-card.card-2 {
  animation-delay: 0.2s;
}

.blog .content .flex-card.card-3 {
  animation-delay: 0.4s;
}

@keyframes flex-card {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.blog .content .flex-card:hover {
  width: 400px;
  background-color: #1d1d1d1f;
  /* transform: translateY(-30px); */
}

.blog .content .flex-card.card-1 {
  box-shadow: none;
}

.blog .content .flex-card.card-1:hover {
  box-shadow: 0 0 20px 0 rgb(146, 30, 255);
}

.blog .content .flex-card.card-2 {
  box-shadow: none;
}

.blog .content .flex-card.card-2:hover {
  box-shadow: 0 0 20px 0 rgb(255, 56, 30);
}

.blog .content .flex-card.card-3 {
  box-shadow: none;
}

.blog .content .flex-card.card-3:hover {
  box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}

.blog .content .flex-card span {
  position: absolute;
  width: 200px;
  pointer-events: none;
}

.blog .content .flex-card .blend-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/neon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: 0.3s ease;
}

.blog .content .flex-card .blend-1:hover {
  transform: scale(1.1);
}

.blog .content .flex-card .blend-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342));
  transition: opacity 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.blog .content .flex-card .blend-1:hover::before {
  opacity: 0.5;
}

.blog .content .flex-card .blend-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/hutao.png');
  background-repeat: no-repeat;
  background-position: 23%;
  background-size: cover;
  transform: scale(1);
  transition: 0.3s ease;
}

.blog .content .flex-card .blend-2:hover {
  transform: scale(1.1);
}

.blog .content .flex-card .blend-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342));
  transition: opacity 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.blog .content .flex-card .blend-2:hover::before {
  opacity: 0.5;
}

.blog .content .flex-card .blend-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../img/hapless.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scale(1);
  transition: 0.3s ease;
}

.blog .content .flex-card .blend-3:hover {
  transform: scale(1.1);
}

.blog .content .flex-card .blend-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342));
  transition: opacity 0.3s ease;
  z-index: 1;
  opacity: 1;
}

.blog .content .flex-card .blend-3:hover::before {
  opacity: 0.5;
}

.blog .content .btn-wrapper {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  animation: btn-back 1.3s ease-in-out;
}

@keyframes btn-back {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.blog .content .btn-wrapper .btn-back {
  height: 40px;
  width: 40px;
  background-color: #0000001f;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease;
}

.blog .content .btn-wrapper .btn-back:hover {
  width: 165px;
  background-color: #00000038;
  box-shadow: 0 0 12px 0 white;
}

.blog .content .btn-wrapper .btn-back button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: white;
  box-sizing: border-box;
  font-size: 20px;
}

.blog .content .btn-wrapper .btn-back span {
  font-size: 15px;
  margin-left: 5px;
}

/* --------------- BLOG RESPONSIVE ------------- */

@media only screen and (max-width:480px) {
  .blog {
    overflow: scroll;
  }

  .blog .content .flex-card.card-1 {
    margin-top: 60%;
  }

  .blog .content .flex-card:hover {
    width: 230px; /* MAKE IT TO HORIZONTAL FOR MOBILE VIEW */
  }

  .blog .content .btn-wrapper .btn-back{
    margin-bottom: 30px;
    width: 165px;
  }

  .blog .content .flex-card {
    height: 300px;
  }
}

@media only screen and (max-width:390px) {
  .blog .content .flex-card.card-1 {
    margin-top: 110%;
  }
}

@media only screen and (min-width:500px) {
  .blog .content {
    gap: 20px;
  }

  .blog .content .flex-card {
   width: 60px;
  }
 
  .blog .content .flex-card:hover {
   width: 90px;
  }

  .blog .content .flex-card span {
    font-size: 1.2rem;
    width: 100px;
  }

  .blog .content .btn-wrapper .btn-back{
    width: 165px;
  }
}

@media only screen and (min-width:700px) {
  .blog .content {
    gap: 30px;
  }

  .blog .content .flex-card {
    width: 100px;
  }
  
  .blog .content .flex-card:hover {
    width: 200px;
  }

  .blog .content .flex-card span {
    font-size: 1.7rem;
    width: 150px;
  }
}

@media only screen and (min-width:900px) {
 .blog .content .flex-card {
    width: 150px;
 }

 .blog .content .flex-card:hover {
    width: 250px;
 }

 .blog .content .flex-card span {
    font-size: 2rem;
    width: 200px;
  }
}

@media only screen and (min-width:1080px) {
  .blog .content .btn-wrapper .btn-back{
    width: 40px;
  }
}


/* ---------------  BLOG - GFX ----------------- */

.blog-gfx {
  background: #3a3a3a;
}

.blog-gfx main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.blog-gfx .slider {
  position: absolute;
  inset: 30px 200px 80px 80px;
  background-color: #0000001f;
  border-radius: 20px;
  cursor: pointer;
}

.blog-gfx .slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  background: var(--img);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.blog-gfx .slider .slides:nth-child(1),
.blog-gfx .slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
  background-size: cover;
}

.blog-gfx .slider .slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
}
.blog-gfx .slider .slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
}
.blog-gfx .slider .slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
}
.blog-gfx .slider .slides:nth-child(6) {
  left: calc(50% + 1020px);
  background-size: cover;
  opacity: 0;
}

.blog-gfx .buttons {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 20px;
}

.blog-gfx .buttons span {
  position: relative;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.blog-gfx .buttons span::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-top: 4px solid #3a3a3a;
  border-left: 4px solid #3a3a3a;
  transform: rotate(315deg) translate(2px, 2px);
}

.blog-gfx .buttons .next::before {
  transform: rotate(135deg) translate(2px, 2px);
}

.blog-gfx .buttons span:active,
.blog-gfx .buttons button:active {
  opacity: 0.5;
}

.blog-gfx .buttons .btn-back {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.blog-gfx .slider .slides .content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;
}

.blog-gfx .slider .slides .content h2 {
  font-size: 4em;
  color: white;
}

.blog-gfx .slider .slides .content p {
  color: white;
}

.blog-gfx .slider .slides:nth-child(1) .content,
.blog-gfx .slider .slides:nth-child(2) .content {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}

.blog-gfx .popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.blog-gfx .popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.blog-gfx .popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  object-fit: cover;
}


/* ----------------- BLOG-GFX RESPONSIVE ------------------ */

@media only screen and (max-width: 900px){

  .blog-gfx .slider {
    position: absolute;
    inset: 40px 40px 200px 40px;
  }

  .blog-gfx .slider .slides {
    width: 100px;
    height: 100px;
    top: initial;
    bottom: -170px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .blog-gfx .slider .slides .content {
    padding: 30px;
    text-align: justify;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.554));
    border-radius: 20px;
  }

  .blog-gfx .slider .slides .content h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .blog-gfx .slider .slides .content p {
    font-size: 0.8rem;
  }

  .blog-gfx .slider .slides:nth-child(1),
  .blog-gfx .slider .slides:nth-child(2) {
    top: initial;
    bottom: 0;
  }

  .blog-gfx .slider .slides:nth-child(3) {
    left: 0;
  }
  .blog-gfx .slider .slides:nth-child(4) {
    left: 120px;
  }
  .blog-gfx .slider .slides:nth-child(5) {
    left: 240px;
  }
  .blog-gfx .slider .slides:nth-child(6) {
    left: 360px;
  }
}

@media only screen and (max-width:750px) {
  .blog-gfx .popup-img img {
    width: 65%;
  }
}

@media only screen and (max-width:390px) {
  .blog-gfx .slider .slides {
    width: 85px;
    height: 85px;
    bottom: -155px;
  }

  .blog-gfx .slider .slides .content {
    padding: 30px;
    text-align: justify;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.554));
    border-radius: 20px;
  }

  .blog-gfx .slider .slides:nth-child(4) {
    left: 100px;
  }
  .blog-gfx .slider .slides:nth-child(5) {
    left: 200px;
  }
  .blog-gfx .slider .slides:nth-child(6) {
    left: 300px;
  }
}