@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Alexandria', sans-serif;
}

.home .banner {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}

.home .navbar {
  width: 85%;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .logo {
  width: 120px;
  cursor: pointer;
}

.home .menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

.home .navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.home .navbar ul li a {
  text-decoration: none;
  color: #3a3a3a;
}

.home .navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #32cfff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.home .navbar ul li:hover::after {
  width: 100%;
}

.home .content {
  display: flex;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  text-align: left;
  color: #3a3a3a;
}

.home .col-1 {
  flex-basis: 100%;
  position: relative;
  padding: 20px;
  margin-left: 80px;
}

.home .col-1 h1 {
  font-size: 60px;
  line-height: 95%;
  margin-top: 80px;
  font-family: 'Alexandria', sans-serif;
  background: -webkit-linear-gradient(45deg, #3a3a3a, #6d6d6d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .col-1 p {
  margin: 10px auto;
  line-height: 25px;
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.home button {
  width: 135px;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid #32cfff;
  background: transparent;
  color: #eee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.home span {
  background: #32cfff;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}

.home button a {
  text-decoration: none;
  color: #eee;
  transition: 0.3s;
}

.home button:hover span {
  width: 100%;
}

.home button:hover {
  border: 2px solid transparent;
  transition: 0.5s;
}

.home button a:hover {
  color: #3a3a3a;
}

.home #popup {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 50px;
  box-shadow: 0 3px 30px #00000038;
  background: #eeeeee54;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.home .popup-close img {
  width: 25px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
}

.home #popup h1 {
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

.home #popup.active {
  opacity: 1;
  visibility: visible;
}

.home #popupH {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 50px;
  box-shadow: 0 3px 30px #00000038;
  background: #eeeeee54;
  backdrop-filter: blur(4px);
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.home .popup-close2 img {
  width: 25px;
  padding: 10px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
}

.home #popupH h1 {
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

.home #popupH.active {
  opacity: 1;
  visibility: visible;
}

/*----------------- HOME RESPONSIVE ---------------------*/

@media only screen and (min-width:710px) {
  .home .col-1 h1 {
    width: 80%;
  }
}

@media only screen and (max-width:700px) {
  .home .banner {
    background-position: left;
  }

  .home .navbar ul {
    width: 100%;
    background: rgba(0, 0, 0, 0.185);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  .home .navbar ul li {
    text-align: right;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .home .navbar ul li a {
    color: #fff;
  }
  
  .home .menu-icon {
    display: block;
    transition: 0.3s;
  }

  .home .menu-icon:active {
    transform: rotate(180deg);
  }

  .home #menuList {
    overflow: hidden;
    transition: 0.3s;
  }

  .home .content {
    flex-direction: column-reverse;
    margin: -20px 0;
    margin-left: -60px;
  }
  
  .home .col-1 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .home .col-1 h1 {
    width: 100%;
    font-size: 35px;
  }

  .home .col-1 p {
    font-size: 11px;
  }

  .home button {
    width: 100px;
    padding: 7px;
    font-size: 11px;
    margin: 15px 0;
  }

  .home #popup {
    width: 80px;
    top: 45%;
    left: 53%;
    padding: 40px 50px;
  }

  .home #popup h1 {
    font-size: 20px;
  }

  .home #popupH {
    width: 130px;
    top: 45%;
    left: 53%;
    padding: 40px 50px;
  }

  .home #popupH h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .home .content {
    margin-left: -70px;
  }
  
  .home .col-1 h1 {
    font-size: 30px;
  }
}

/*----------------- ABOUT -----------------*/

.about {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.about .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about .content {
  backdrop-filter: blur(4px);
  background-color: #0000001f;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.about .content .icon {
  display: flex;
  justify-content: center;
}

.about .content .icon img {
  position: absolute;
  top: -50px;
  width: 100px;
  border: 3px solid #0000001f;
  border-radius: 50px;
}

.about .content p {
  margin-top: 50px;
  line-height: 25px;
  color: white;
}

.about .content p span {
  color: #5599ff;
}

.about .content #icon-song {
  width: 50px;
  margin: 15px 0 0;
  cursor: pointer;
}

.about .content a {
  text-decoration: none;
  color: white;
}

.about .content a:hover {
  color: #3a3a3a;
}

.about .btn-back-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about .btn-back-group .btn-back {
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(4px);
  padding: 10px 20px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  transition: 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.about .btn-back-group .btn-back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001f;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease;
  z-index: -1;
}

.about .btn-back-group .btn-back:hover::before {
  transform: scaleX(1);
}

.about .btn-back:hover {
  color: white;
  border: 1px solid white;
}

/* --------------- ABOUT RESPONSIVE --------------- */

@media only screen and (max-width:620px) {
  .about .content {
  }

  .about .content .icon img {
    width: 80px;
    top: -40px;
  }

  .about .content p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width:440px) {
  .about .content {
  }
}