nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.nav-items{
    display: flex;
}
.nav-items h1{
    margin-left: 30px;
}

.content{
    position: absolute;
    top: 40%;
    transform: translateX(25%);
}
.content h1{
    font-size: 3rem;
    margin: 0;
}